
<Location "${appconfig.context}/">
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* index.txt [L]

    DirectoryIndex index.txt
</Location>

<Directory ${appconfig.datadir}>
    Require all granted
</Directory>
<Directory ${appconfig.apache2.dir}>
    Require all granted
</Directory>
