#
# Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
#

Alias ${appconfig.context}/ /var/lib/docroot/${appconfig.appconfigid}/rsyncsubdir/

<Location ${appconfig.contextorslash}>
    SetEnv APPCONFIGID ${appconfig.appconfigid}
    SetEnv DATADIR /var/lib/docroot/${appconfig.appconfigid}
    SetEnv CONTEXT "${appconfig.context}"

    <IfModule php7_module>
        php_admin_value open_basedir ${appconfig.apache2.dir}:/tmp/:${package.codedir}:${appconfig.datadir}
    </IfModule>
</Location>

<Directory ${package.codedir}>
    Require all granted
</Directory>

<Directory /var/lib/docroot/${appconfig.appconfigid}/rsyncsubdir>
    Require all granted
    Options +Indexes
    AllowOverride All
</Directory>
